<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Nathan and Tory's Wedding</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
<!--         <h1 class="header center black-text text-darken-2">Nathan and Tory's Wedding</h1> -->
<!--         <div class="row center">
          <h5 class="header col s12 teal-text text-darken-4">More information coming soon</h5>
        </div> -->
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="static/images/smaller_gg_bridge.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
                <h1 class="header center black-text text-darken-2">Nathan and Tory's Wedding</h1>
        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">Wedding</h5>

            <p class="light">March 4th, 2017<br>
              The Fairmont Hotel, San Francisco, CA<br>
              Ceremony Starts at 5:30pm<br>
              Dinner, Dancing, Open Bar to Follow<br>
              <br>
              The Fairmont is at the top of a steep hill, and while we often walk there, you may not want to. We recommend using <a href="https://www.uber.com/invite/xojik" target="_blank">Uber</a>, Lyft, or public transportation to get there.  If you plan on taking the Powell Street cable car to the wedding, we advise against boarding at Powell and Market--it's a tourist hotspot and sometimes has an hour plus wait to board.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">Lodging</h5>

            <p class="light">We've held a limited number of rooms at the Fairmont for $199/night (single queen bed) or $259/night (two queen beds) on March 3rd and 4th.  You need to book through the <a href="https://aws.passkey.com/go/paynehenshall" target="_blank">special event site</a> to recieve the discounted rate.</p>

            <p class="light">Alternatively, hotels in the Fisherman's Wharf area may be a cheaper option.  Airbnb will probably have the cheapest options (as well as some nicer, more expensive ones).  If you've never used Airbnb, you can use Tory's <a href="https://www.airbnb.com/c/victoriap1138" target="_blank">referral link</a> to save $35 on your first stay.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">RSVP</h5>
            <p class="light">The best way to RSVP is to use the enclosed response card in your invitation.  However, you may also RSVP by emailing <a href="mailto:nathanandtory@gmail.com?Subject=Wedding RSVP" target="_blank">nathanandtory@gmail.com</a> or reaching out to either of us at our normal email addresses or phone numbers.  Please include your entree selection of chicken, steak, vegetarian, or the children's menu.</p>
            <h5 class="center">Brunch</h5>
            <p class="light">We will be hosting brunch Sunday morning at Laurel Court in the Fairmont between 9am and 11am.  Feel free to stop by at any point in that timeframe.  No RSVPs are necessary.</p>

          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">

        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/images/fairmont-outside.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <div class="icon-block">
            <h5 class="center">Registry Information</h5>

            <p class="light">Coming soon!
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/images/fairmont-garden.jpg" alt="Unsplashed background img 3"></div>
  </div>


  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

  </body>
</html>
