<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>What's Up</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Worlds Apart</h1>
        <div class="row center">
          <h5 class="header col s12 teal-text text-darken-4">Brought a little bit closer together</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="static/images/smaller_gg_bridge.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">Caloundra</h5>

            <p class="light">{{nathan['time']['day']}}, {{nathan['time']['date']}}<br>
              {{nathan['time']['hour']}} <br>
              {{nathan['temp']['c']}}&#8451; / {{nathan['temp']['f']}}&#8457; <br>
              {{nathan['temp']['weather']}}<br></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center black-text"><i class="material-icons">comment</i></h5>
            <p class="light">{{quote["quoteText"]}}</p>
             <p class="light right">-{{quote["quoteAuthor"]}}</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">San Francisco</h5>

            <p class="light">{{tory['time']['day']}}, {{tory['time']['date']}}<br>
              {{tory['time']['hour']}} <br>
              {{tory['temp']['c']}}&#8451; / {{tory['temp']['f']}}&#8457;<br>
              {{tory['temp']['weather']}} 
              <br></p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">

        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/images/wurtullabeach.jpg" alt="Unsplashed background img 2"></div>
  </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

  </body>
</html>
